.header {
  @apply
  py-5
  flex
  items-center
  mx-auto
  flex-col
  gap-4
  md:flex-row
  md:gap-0
}

.brand-name {
  @apply
  text-3xl
  font-bold
  uppercase
  text-center
  mx-auto
  order-first
  md:order-none
}

.menu-icon {
  @apply
  mx-2
}

.nav-item {
  @apply
  font-bold
  text-sm
  leading-5
  uppercase
  md:mr-8
}